# for Loop <hr style="border:2.5px solid rgba(232, 13, 181, 0.59)"></hr>

<b>Gellor,Ma.Dolores</b>
<br>Computer Engineering Technology<br>

# Iterating Over a List

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print (n)

1
2
3
4
5
6
7
8
9
10

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 ==0:
     print (n)

2
4
6
8
10

In [3]:
#List Comprehension 
numbers = [1,2,3,4,5,6,7,8,9,10]
results = [n for n in numbers if n%2==0]
results

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [4]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [5]:
# key-value pair
employee = {'name':'Maria',
            'position':'analyst',
            'salary':100000}

for key in employee:
    print(key)

name
position
salary

In [6]:
employee['salary']

100000

In [7]:
for value in employee.values():
       print(value)

Maria
analyst
100000

In [8]:
# key-value pair
employee = {'name':['Maria','Dolores'],
            'position':['analyst','developer'],
            'salary':[100000,80000]}

for key in employee:
    print(key)

name
position
salary

In [9]:
employee['salary']

[100000, 80000]

# Lambda Function

In [10]:
def mul_by_2(x):
    x = 2*x
    return x
    
mul_by_2(4)

8

In [11]:
y = 4

(lambda x : 2*x)(y)

8